:host::ng-deep{
    .p-accordion .p-accordion-header .p-accordion-header-link{
        padding: .5rem;
    }
    .p-button.p-button-icon-only{
        width: 32px;
        height: 32px;
        padding: 0.75rem 0; 
    }
    .p-component.ng-invalid.ng-touched, p-dropdown.ng-invalid.ng-touched .p-dropdown {
        border-color: red;
    }
    .dates-calendar.p-calendar .p-inputtext{
        padding: .5rem
    }
}
.field-dates label {
    font-size: 0.75rem;
    line-height: 1.4;
}