.webTitle{
    margin: 0;
    font-size: 20px;
}
.button-logout{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1rem;
    background: inherit;
    text-decoration: 1px solid underline;
}