<div class="form-wrapper flex align-items-center justify-content-center m-6">
    <p-card header="Inicio de sesión" subheader="Agencia de viajes" [style]="{ width: '360px' }">
        <form [formGroup]="form">
            <div class="form-field mb-3">
                <span class="p-float-label">
                    <input pInputText type="text" id="username" formControlName="user" class="w-full"/>
                    <label htmlFor="username" for="username">Usuario</label>
                </span>
            </div>
            <div class="form-field mb-3">
                <span class="p-float-label">
                    <input pInputText type="password" id="password" formControlName="password" class="w-full"/>
                    <label htmlFor="username" for="password">Contraseña</label>
                </span>
            </div>
            <div class="form-buttons">
                
                <button type="button" pButton pRipple class="p-button-success w-full button-submit" 
                        (click)="login()">Iniciar sesión</button>
            </div>
        </form>
    </p-card>
</div>
