<p-card header="Buscar hoteles" styleClass="w-full">
    <form [formGroup]="form">
        <div class="form-field mb-3">
            <span class="p-float-label">
                <p-calendar id="dates" formControlName="dates" styleClass="w-full" selectionMode="range"
                    [readonlyInput]="true" [numberOfMonths]="2" [minDate]="todayDate"
                    dateFormat="dd/mm/yy"></p-calendar>
                <label htmlFor="dates" for="dates">Entrada / Salida de alojamiento</label>
            </span>
        </div>
        <div class="form-field mb-3">
            <span class="flex justify-content-between align-items-center">
                <label htmlFor="numberPeople" for="numberPeople" class="mr-3">Cantidad de personas</label>
                <p-inputNumber inputId="numberPeople" formControlName="numberPeople" [showButtons]="true" buttonLayout="horizontal"
                    spinnerMode="horizontal" inputId="vertical" decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-secondary" incrementButtonIcon="bi bi-plus"
                    decrementButtonIcon="bi bi-dash" [min]="1" [max]="10" inputStyleClass="numberPeople__input"></p-inputNumber>
                
            </span>
        </div>
        <div class="form-field mb-3">
            <span class="p-float-label">
                <p-dropdown [options]="cities" formControlName="city" optionLabel="city" styleClass="w-full"></p-dropdown>
                <label htmlFor="city" for="city">Ciudad destino</label>
            </span>
        </div>
        <button type="button" pButton pRipple class="p-button-success w-full button-submit">Buscar</button>
    </form>
</p-card>