:host ::ng-deep{
    .p-inputnumber{
        .p-button.p-button-icon-only{
            width: 2rem;
        }
    }
    .numberPeople__input{
        width: 35px;
        padding: .5rem;
        text-align: center;
    }
}
.button-clear{
    border: 0;
    background-color: inherit;
    padding: .25rem .5rem;
    text-align: center;
}
